/*
 * Base
 */
@import "normalize";

body {
  font-family: Source Sans Pro, sans-serif;
  background-color: $main_background_color;
  color: $primary_font_color;
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}
