/*
 * Variables
 */

// Colors
$main_background_color: #141E39;
$sidebar_background_color: #0D1932;
$modal_background_color: #0E1427;
$additional_color: #66ff66;
$primary_font_color: #ffffff;
$secondary_font_color: rgba(255, 255, 255, .5);

// Heights
$header_height: 70px;
$history_padding_box: 15px;
