<!doctype html>
<html>
<head>
    <title>Go Posmotrim | Let's watch it together</title>
    <meta name="description" content="Let's watch it together">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=1.0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic"
          rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/normalize.css" title="style" type="text/css" rel="stylesheet">
    <!-- Don't use it anymore, bcause we import this file into base/_index.scss -->
    <link href="/css/style.css" title="style" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">


        <div class="sidebar col-2">
            <div class="sidebar-logo">
                <span>Go</span>Posmotrim
            </div>
            <div class="users-component">
                <!--<div class="users">
                    <div class="users-online fullwidth">
                        Users Online
                    </div>
                    <ul class="users-list fullwidth">
                        <li class="users-item">
                            <div class="users-name">name</div>
                            <div class="users-time">time</div>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>


        <div class="col-10">
            <div class="header fullwidth">
                <div class="search-component">
                    <!--<div class="search">-->
                        <!--<form class="search-form" action="" method="get">-->
                            <!--<input class="search-input" type="search" name="url" placeholder="Put your link here...">-->
                        <!--</form>-->
                    <!--</div>-->
                </div>
            </div>


            <div class="row">
                <div class="video-component col-lg-9 col-8">
                    <!--<div class="video">
                        <div class="video-wrap">
                            <div id="player"></div>
                        </div>
                        <div class="video-title">True Sight: The Kiev Major Grand Finals</div>
                        <div class="video-sub">
                            <div class="video-author">dota2</div>
                            <div class="video-views">2 061 435</div>
                        </div>
                    </div>-->
                </div>


                <div class="col-3">
                    <div class="panel">
                        <div class="current-component">
                            <!--<div class="current">
                                <div class="current-video-wrap">
                                    <div class="current-video"
                                         style="background-image: url('https://i.ytimg.com/vi_webp/GgAAPPf4z00/maxresdefault.webp')"></div>
                                </div>
                                <div class="current-video-title">*Title*</div>
                                <div class="current-video-btns">
                                    <div class="current-button-skip"></div>
                                </div>
                            </div>-->
                        </div>
                        <div class="history">
                            <div class="history-title">History</div>
                            <div class="history-component">
                                <!--<ul class="history-list">
                                    <li class="history-item">
                                        <div class="history-item-img"
                                             style="background-image: url('https://i.ytimg.com/vi_webp/GgAAPPf4z00/maxresdefault.webp')">
                                        </div>
                                        <div class="history-item-title">*title*</div>
                                    </li>
                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/app.min.js"></script>
</body>

