body
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  background-color: #141E39;
}
/* GoPosmotrim */
.sidebar span
{
  color: #66ff66;
}

.sidebar
{
  background-color: #0D1932;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
  position: relative;
  left: 0px;
  top: 0px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 34px;
  color: white;
  padding-top: 15px;
  text-align: center;
}
/* Search */
.search
{
  height: 70px;
  border-bottom: 3px solid #0D1932;
  margin: 0px -15px;
}
&-input
{
  position: absolute;
  width: 1000px;
  height: 50px;
  top: 7.5px;
  left: 35px;
  font-size: 18px;
  color: white;
  outline: none;
  background-color: transparent;
  border: none;
  &::placeholder {
    color: rgba(255, 255, 255, .5);}
}

.history
{
  text-align: center;
  height: calc(100vh - 70px - 20px - 20px);
  background-color: #0E1427;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}

/*Online users*/
.users-online
{
  padding-bottom: 10px;
  border-bottom: 3px solid #0E1427 ;
  font-size: 24px;
  margin-top: 20px;
}

.left-column
{
  float: left;
}

.right-column
{
  float: right;
}

ul
{
  padding-left: 0px;
  font-size: 20px;
}

li
{
  padding-bottom: 15px;
  border-bottom: 3px solid #0E1427;
  padding-top: 10px;
  list-style-type: none;
}
.hvr-fade
{
  transition: color 0.4s ease-in-out;
}
.hvr-fade:hover
{
  color: #66ff66;
}
li:after {
  content: "";
  clear: both;
  display: table;
}
