.history
{
  width: 100%;

  &-title{
    text-align: left;
    padding: 10px 0px;
    border-top: 3px solid #0c1122;
    border-bottom: 3px solid #0c1122;
    padding-left: 15px;
  }
  &-list{
    list-style-type: none;
    padding-left: 0;
  }
  &-item{
    border-bottom: 3px solid #0c1122;
    text-align: left;
    list-style-type: none;
    padding-left: 15px;
    padding-top: 15px;
  }
}

