.history
{
  width: 100%;

  &-title{
    text-align: left;
    padding: 10px 0;
    border-top: 3px solid #0c1122;
    border-bottom: 3px solid #0c1122;
    padding-left: 15px;
  }
  &-list{
    list-style-type: none;
    padding-left: 0;
  }
  &-item{
    display: flex;
    border-bottom: 3px solid #0c1122;
    text-align: left;
    list-style-type: none;
    padding: 15px;
    transition: background-color 0.4s;
    &:hover{
      background-color: #0c1122;
    }
    &-img{
      width: 101px;
      height: 57px;
      border-radius: 3px;
      padding-left: 14px;
      padding-right: 10px;
      background-size: cover;
    }
    &-title{
      padding: 5px 5px 5px 10px;
      width: 70%;
      text-align: left;
      word-wrap: break-word;
    }
  }
}

