/* Search */
.search
{
  height: 70px;
  border-bottom: 1px solid #0D1932;

  &-input
  {
    width: 100%;
    height: 70px;
    font-size: 18px;
    outline: none;
    background-color: transparent;
    border: none;
    padding-right: 25px;
    padding-left: 25px;
    color: $primary_font_color;

    &::placeholder {
      color: $secondary_font_color;
    }
  }
}


