/*
* First of all look at the HTML.
*/
.users {
  &-online {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #0E1427;
    font-size: 24px;
    margin-top: 20px;
  }
  &-name {
    float: left;
    padding-left: 10px;
  }
  &-time {
    float: right;
    padding-right: 10px;
  }
  &-list {
    padding-left: 0;
    font-size: 20px;
  }
  &-item {
    padding-bottom: 15px;
    border-bottom: 3px solid #0E1427;
    padding-top: 10px;
    list-style-type: none;

    transition: color 0.4s ease-in-out;
    &:hover {
      color: #2bff30;
    }
    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }
}
